<!--details.vtl-->
<h1>More About Weekend Hackathons</h1>

<p>We are a local Seattle organization devoted to increasing our knowledge in Java and Android applications. Sign up on a team if you are new or if you are a veteran, feel free to start your own team. We will give the challenge out on Friday evening and your team will have 48 hours to complete it. Good luck!</p>

<a href="/">Click here to view teams!</a>
<!--details.vtl-->
