<!--index.vtl-->
<h1>Welcome to the Weekend Hackathon Team Tracker</h1>

<a href="/details">Learn More About Our Hackathon Event</a>
<br>

<a href="/teams">View Team List</a>
<br>
<a href="/newteam">Add a New Team</a>

<!--index.vtl-->
