<!DOCTYPE html>
<html>
  <head>
    <title>Weekend Team Tracker</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/app.css'>
  </head>
  <body>
  <!--begin main template-->
    <div class="container">
      <div class="jumbotron">
        #parse( $template )
        <br><br>
      </div>
    </div>
    <!--end main template-->
  </body>
</html>
