<!--team-form.vtl-->
<h1>Add Your Team Here: </h1>

<form action="/teams" method="post">
  <label for="team-name">Team Name: </label>
  <input id="team-name" name="team-name" type="text">
  <button type="submit" class="btn btn-success">Add Team</button>
</form>
<!--team-form.vtl-->
