<!--team.vtl-->
<h1>$team.getTeamName() Members: </h1>

<ul>
  #foreach($member in $team.getMembers())
    <li>$member.getMemberName()</li>
  #end
</ul>

<a href="/teams/$team.getTeamId()/members/new">Add a New Member</a>
<br>
<a href="/">View All Teams</a>

<!--team.vtl-->
